
{% load static %}

<html>
<head>
	<title>
		main
	</title>
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body style="height: 2000px;">
	<header id="b">
		<a href="" class="name">Face It!</a>
		<div class="navigation">
			<div class="navigation-items">
				<a href="#">ГЛАВНАЯ</a>
				<a href="#">КАТАЛОГ</a>
				<a href="#">БРЕНДЫ</a>
				<a href="#">НОВИНКИ</a>
				<a href="#">АКЦИИ</a>
				<a href="#">ПОДАРОЧНЫЕ КАРТЫ</a>
			</div>
		</div>
	</header>


    <script src="app.js"></script>




        <div class="white">
            <h2 class="new">{{title}}</h2>
            <div class="gallery">
            {% for product in products %}
            <div class="item">
                {% static "images/products/" as folder %}
                <div class="images">
                  <img class="product_image"src="{{folder}}/{{product.image}}.jpg" />
                </div>
            
                <div class="product">
    
                  <h1 class="product_title">{{product.title}}</h1>
                  <h2 class="product_price">{{product.price}}₸</h2>
                  
    
                    <button class="addtocartbtn add">Add to Cart</button>
                </div>
              </div>
            {% endfor %}
            </div>
        </div>
    


    <footer>
        <div class="container">
            <div class="section1">
                <ul class="s1">
                    <li>
                        <p><a href=""> 8 777 777 7777</a></p>
                        <p><a href="">shop@faceit.kz</a></p>
                    </li>
                    <li>
                        <p><a href="">ул. Улица, г. Нур-Султан</a></p>
                    </li>
                    <li>
                        <p>С 09:00 до 20:00 </p>
                        <p>без перерывов и выходных</p>
                    </li>
                </ul>
            </div>
            <div class="section2">
                <ul class="s2">
                    <li>
                        <p class = "logo">Face It!</p>
                    </li>
                    <li>
                        <ul class = "socmedia">
                            <li><a href="">A</a></li>
                            <li><a href="">B</a></li>
                            <li><a href="">C</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="section3"></div>
        </div>
    </footer>
</body>



</html>