<!DOCTYPE html>
<html>
{% load static %}

<head>
	<title>
		main
	</title>

	<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body style="height: 2000px;">

	<header>

    <a href="#" class="name">Face It!</a>
      <ul class="navbar">
        <li><a href="#">ГЛАВНАЯ</a></li>
  			<li><a href="/filter">КАТАЛОГ</a>
          <ul class="dropdown">
            <li class="subcategories" ><a href="{% url 'categories' category='maski' %}">Маски</a></li>
             <li class="subcategories" ><a href="{% url 'categories' category='uhod-dlya-glaz' %}">Уход для глаз</a></li>
             <li class="subcategories" ><a href="{% url 'categories' category='uhod-dlya-gub' %}">Уход для губ</a></li>
             <li class="subcategories" ><a href="{% url 'categories' category='SPF' %}">SPF защита</a></li>
             <li class="subcategories" ><a href="{% url 'categories' category='kremy-geli' %}">Кремы/гели</a></li>
             <li class="subcategories" ><a href="{% url 'categories' category='ampuly' %}">Ампулы</a></li>
             <li class="subcategories" ><a href="{% url 'categories' category='syvorotki' %}">Сыворотки</a></li>
             <li class="subcategories" ><a href="{% url 'categories' category='tonery-i-misty' %}">Тонеры И Мисты</a></li>
             <li class="subcategories" ><a href="{% url 'categories' category='eksfolianty' %}">Отшелушивание</a></li>
             <li class="subcategories" ><a href="{% url 'categories' category='ochishcheniye' %}">Очищение</a></li>
          </ul>
          </li>
  			<li><a href="#">БРЕНДЫ</a></li>
  			<li><a href="#">НОВИНКИ</a></li>
  			<li><a href="#">АКЦИИ</a></li>
  			<li><a href="#">ПОДАРОЧНЫЕ КАРТЫ</a></li>
      </ul>

		<div class="icons">
			<i class='bx bx-menu' id="menu-icon"></i>
			<i class='bx bx-search' id="search-icon"></i>
			<i class='bx bx-cart' id="cart-icon"></i>
			<i class='bx bx-user' id="user-icon"></i>
		</div>
		<div class="search_box">

			<form method='POST' action="{% url 'searching_products' %}">
				{% csrf_token %}
				<input type="search" name="searched" id="" placeholder="Найти продукт...">
				<button type="submit"><i class='bx bx-search' id="search-icon2"></i></button>
			</form>
		</div>
	</header>

	<div class="slider">
		<!-- fade css -->
		<div class="myslide fade">
			<div class="txt">
				<h1>The Ordinary.</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="addtocartbtn add">ПОСМОТРЕТЬ</button>
			</div>
			<img src="{% static 'images/the ordinary.png' %}" style="width: 100%; height: 100%;" class="banner">
		</div>

		<div class="myslide fade">
			<div class="txt">
				<h1>Some By Mi</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="addtocartbtn add">ПОСМОТРЕТЬ</button>
			</div>

			<img src="{%  static 'images/somebymi.jpg' %}" style="width: 100%; height: 100%;" class="banner">
		</div>

		<div class="myslide fade">
			<div class="txt">
				<h1>Elizavecca</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="addtocartbtn add">ПОСМОТРЕТЬ</button>
			</div>
			<img src="{% static 'images/the ordinary.png' %}" style="width: 100%; height: 100%;" class="banner">
		</div>

		<div class="myslide fade">
			<div class="txt">
				<h1>Dr.Jart+</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="addtocartbtn add">ПОСМОТРЕТЬ</button>
			</div>
			<img src="{% static 'images/drjart.jpg' %}" style="width: 100%; height: 100%;" class="banner">
		</div>

		<div class="myslide fade">
			<div class="txt">
				<h1>Paula's Choice</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="addtocartbtn add">ПОСМОТРЕТЬ</button>
			</div>
			<img src="{% static 'images/paula.png' %}" style="width: 100%; height: 100%;" class="banner">
		</div>
		<!-- /fade css -->

		<!-- onclick js -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>

		<div class="dotsbox" style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
			<span class="dot" onclick="currentSlide(4)"></span>
			<span class="dot" onclick="currentSlide(5)"></span>
		</div>
		<!-- /onclick js -->
	</div>

	<h2 class="new">НОВИНКИ</h2>
	<div class="gallery">
		{% for product in products %}
		<div class="item">
			{% static "images/products/" as folder %}
			<div class="images">
				<img class="product_image" src="{{folder}}/{{product.image}}.jpg" />
			</div>

			<div class="product">

				<h1 class="product_title">{{product.title}}</h1>
				<h2 class="product_price">{{product.price}}₸</h2>


				<a href="{% url 'cartadd' id=product.id %}"><button class="addtocartbtn add">Add to Cart</button></a>
			</div>
		</div>
		{% endfor %}

	</div>

	<div class="boxes">
		<div class="box"><a href="">
				<img src="{% static 'images/а1.png' %}" alt="" class="inbox"></a>
		</div>
		<div class="box"><a href="">
				<img src="{% static 'images/а2.png' %}" alt="" class="inbox"></a>
		</div>
		<div class="box"><a href="">
				<img src="{% static 'images/а3.png' %}" alt="" class="inbox"></a>
		</div>
	</div>


	<h2 class="new">ПОПУЛЯРНОЕ</h2>
	<div class="gallery">
		{% for product in popular %}
		<div class="item">
			{% static "images/products/" as folder %}
			<div class="images">
				<img class="product_image" src="{{folder}}/{{product.image}}.jpg" />
			</div>

			<div class="product">

				<h1 class="product_title">{{product.title}}</h1>
				<h2 class="product_price">{{product.price}}₸</h2>


				<a href="{% url 'cartadd' id=product.id %}"><button class="addtocartbtn add">Add to Cart</button></a>
			</div>
		</div>
		{% endfor %}
	</div>
	<footer>
		
	</footer>

	<script src="{% static 'js/script.js' %}"></script>
</body>

</html>