{% load static %}

<html>

<head>
    <title>
        Поиск
    </title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body style="height: 2000px;">
    <header>
        <a href="#" class="name">Face It!</a>
        <ul class="navbar">
            <li><a href="">ГЛАВНАЯ</a></li>
            <li><a href="/filter">КАТАЛОГ</a>
                <ul class="dropdown">
                    <li class="subcategories"><a href="{% url 'categories' category='maski' %}">Маски</a></li>
                    <li class="subcategories"><a href="{% url 'categories' category='uhod-dlya-glaz' %}">Уход для
                            глаз</a></li>
                    <li class="subcategories"><a href="{% url 'categories' category='uhod-dlya-gub' %}">Уход для губ</a>
                    </li>
                    <li class="subcategories"><a href="{% url 'categories' category='SPF' %}">SPF защита</a></li>
                    <li class="subcategories"><a href="{% url 'categories' category='kremy-geli' %}">Кремы/гели</a></li>
                    <li class="subcategories"><a href="{% url 'categories' category='ampuly' %}">Ампулы</a></li>
                    <li class="subcategories"><a href="{% url 'categories' category='syvorotki' %}">Сыворотки</a></li>
                    <li class="subcategories"><a href="{% url 'categories' category='tonery-i-misty' %}">Тонеры И
                            Мисты</a></li>
                    <li class="subcategories"><a href="{% url 'categories' category='eksfolianty' %}">Отшелушивание</a>
                    </li>
                    <li class="subcategories"><a href="{% url 'categories' category='ochishcheniye' %}">Очищение</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">БРЕНДЫ</a></li>
            <li><a href="#">НОВИНКИ</a></li>
            <li><a href="#">АКЦИИ</a></li>
            <li><a href="#">ПОДАРОЧНЫЕ КАРТЫ</a></li>
        </ul>

        <div class="icons">
            <i class='bx bx-menu' id="menu-icon"></i>
            <i class='bx bx-search' id="search-icon"></i>
            <i class='bx bx-cart' id="cart-icon"></i>
            <i class='bx bx-user' id="user-icon"></i>
        </div>
        <div class="search_box">

			<form method='POST' action="{% url 'searching_products' %}">
				{% csrf_token %}
				<input type="search" name="searched"  placeholder="Найти продукт..." required>
			</form>
		</div>
    </header>


    <script src="{% static 'js/script.js' %}"></script>


<div style="margin-top: 100px">
        <h1 style="padding-bottom: 20px;text-align: center">Вы искали "{{searched}}"</h1>
        <div class="gallery">
            {% for item in items_list %}
            <div class="item">
                {% static "images/products/" as folder %}
                <div class="images">
                    <img class="product_image" src="{{folder}}/{{item.image}}.jpg" />
                </div>

                <div class="product">

                    <a href="{% url 'product_detail' id=item.id %}"><h1 class="product_title">{{item}}</h1>
                    <h2 class="product_price">{{item.price}}₸</h2>


                    <a href="{% url 'cartadd' id=item.id %}"><button class="addtocartbtn add">Add to Cart</button></a>
                </div>
            </div>
            {% endfor %}

{% if page_obj.has_previous %}
    <a href="?page=1">&laquo;  First</a>
    <a href="?page={{ page_obj.previous_page_number}}">Previous</a>


{% endif %}

Page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number}}"> next </a>
    <a href="?page={{page_obj.paginator.num_pages}}"> Last &raquo;</a>

{% endif %}


        </div>
</div>

</body>
</html>